page-welcome {
  .splash-bg {
    position: relative;
    background: url('../assets/img/splashbg.jpg') no-repeat transparent;
    background-size: cover;
    height: 45%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }


 .facebook-btn {
    background-color: #3b5998;
    margin: auto;
    width: 95%;
    margin-bottom: 5px;
  }

  .google-btn {
    background-color: #d34836;
    margin: auto;
    width: 95%;
    margin-bottom: 5px;
  }


  .terms-of-use-txt {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    font-size: 10px;
    color: white;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  // .splash-info {
  //   position: relative;
  //   z-index: 2;
  //   margin-top: -64px;
  //   text-align: center;
  // }
  // .splash-logo {
  //   margin: auto;
  //   background: url('../assets/img/appicon.png') repeat transparent;
  //   background-size: 100%;
  //   width: 128px;
  //   height: 128px;
  // }
  // .splash-intro {
  //   font-size: 18px;
  //   font-weight: bold;
  //   max-width: 80%;
  //   margin: auto;
  // }
  button.login {
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }
}
